@tailwind base;
@tailwind components;
@tailwind utilities;


.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  transform: translateY(5px);
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: flex;
}

@layer base {
  *,*::after,*::before{
    @apply  m-0 p-0 box-border scroll-smooth font-customFont;
  }
  body {
    @apply bg-white/60 leading-none snap-proximity snap-y mt-[90px] scroll-smooth ;
  }
  .page {
    @apply w-full h-screen ;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[40px] md:leading-[1.3] mb-4 font-semibold;
  }
  .h3 {
    @apply text-[20px] leading-tight md:leading-[1.3] mb-2 font-semibold;
  }
  p {
    @apply leading-[32px] tracking-[0.2px] font-light text-[20px];
  }
  .btn{
    @apply bg-blue-400 leading-none mt-5 py-3 px-2 lg:py-3 lg:px-5 rounded-md text-base lg:text-xl font-medium hover:bg-blue-600 hover:text-white transition-all duration-500 ease-in-out;
  }
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .logo{
    @apply w-[90px]  rounded-full p-1 cursor-pointer hover:saturate-50
  }
}
